<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css">
    <title>Admin Songs & Artists</title>
</head>
<body>
    <!-- welcome text -->
    <header>
        <h1 class="headerText">Welcome to the Admin page</h1>
        <h5>Here you can scroll through the list of songs, edit, delete, and of course add new ones if desired</h5>
        <button class="button-23" role="button"><a href="#form">Jump to Form</a></button>
    </header>
    <!-- table to display all artists -->
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Albums</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% artists.forEach(function(artist) { %>
                <tr class="active-row">
                    <th><%= artist.name %></th>
                    <th><%= artist.albums %></th>
                    <th><button class="adminButton"><a href="/api/edit/<%= artist.id %>/edit"><ion-icon name="create-outline"></ion-icon></a></button></th>
                    <th>
                        <form action="/api/edit/<%= artist.id %>/delete" method="POST" style="display:inline;">
                            <button class="adminButton" type="submit"><ion-icon name="trash-outline"></ion-icon></button>
                        </form>
                    </th>
                </tr>
                <%});%>
            </tbody>
        </table>
        <form id="form" action="/addArtist" method="POST" class="form">
            <h1>Add Artist</h1>
            <input type="text" placeholder="New Artist" class="form__input" id="name" name="name" required />
            <label for="name" class="form__label">Artist Name</label>
        
            <input type="number" placeholder="Number of Albums" class="form__input" id="albums" name="albums" required />
            <label for="albums" class="form__label">Number of Albums</label>
        
            <input type="text" placeholder="Best Song" class="form__input" id="best_song" name="best_song" required />
            <label for="best_song" class="form__label">Best Song</label>
        
            <input type="number" placeholder="2000" class="form__input" id="release_year" name="release_year" required />
            <label for="release_year" class="form__label">Release Year</label>
        
            <button class="button-23" type="submit">Submit</button>
        </form>
    <!-- ionicons scrips -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>